.movie-actor {
    background: rgb(223, 223, 223);
    display: grid;
    padding: 10px;
    border-radius: 5%;
    box-shadow: 2px 2px 5px #646464;
}
.movie-actor h6 {
    display: flex;
    justify-self: center;
    padding: 5px;
}
